
<a href="/">
<<<<<<< HEAD
<<<<<<< Updated upstream
  <h1 class="top-content"><img id="hearthstone-logo" src="/img/HearthstoneLogo.png">
    </h1>
=======
  <h1 class="top-content"><img id="hearthstone-logo" src="/img/HearthstoneLogo.png"> </h1>
>>>>>>> Stashed changes
=======
  <h1 class="top-content"><img id="hearthstone-logo" src="/img/HearthstoneLogo.png"> Card
    API</h1>
>>>>>>> main
</a>
<div class="text-links-external">
  <a href="javascript:history.back()">Back</a>
</div>
<h1 class="page-title">{{class}} Card List</h1>

<<<<<<< Updated upstream
=======
{{!-- <div class="container" id="card-container"></div> --}}
>>>>>>> Stashed changes


<div class="class-container" data-class="{{class}}"></div>


<<<<<<< HEAD
<div class="container" id="card-container"></div>
<<<<<<< Updated upstream


<script src="/js/getClasses.js"></script>
<script src="/js/getCard.js"></script>
=======
<script src="/js/getClasses.js"></script>
 <form autocomplete="off" spellcheck="false">
    <input class="input-field" name="name" id="search-input">
    <button class="search-button" type="button" id="searchBtn" style="animation-delay:0.07s">Search</button>
  </form>
>>>>>>> Stashed changes
=======


<script src="/js/getClasses.js"></script>
>>>>>>> main
