
<a href="/">
  <h1 class="top-content"><img id="hearthstone-logo" src="/img/HearthstoneLogo.png">
    </h1>
</a>
<div class="text-links-external">
  <a href="javascript:history.back()">Back</a>
</div>
<h1 class="page-title">{{class}} Card List</h1>
<button class="deck-button" type="button" id="deckBtn" style="animation-delay:0.07s">Deck</button>


<div class="class-container" data-class="{{class}}"></div>



<div class="container" >
  <div class="row" id="card-container"></div>
</div> 



<script src="/js/getClasses.js"></script>
