<a href="/">
  <h1 class="top-content"><img id="hearthstone-logo" src="/img/HearthstoneLogo.png"> </h1>
</a>
<div class="text-links-external">
  <a href="javascript:history.back()">Back</a>
</div>
<h1 class="page-title">{{{thisClass.name}}} Deck List</h1>
<div class="container" id="deck-container">
{{#each thisClass.cards}} <a href="/api/deck/{{{this.name}}}"><img src="{{{this.img}}}" /></a>
{{/each}}
</div>

<script src="/js/getDeck.js"></script>