<div class="container">
  <header>
    <h1 class="top-content"> <a href="/"><img id="hearthstone-logo" src="/img/HearthstoneLogo.png"></a></h1>
  </header>
  <p id="sub-title">Search For Card By Name! (Case Sensitive):</p>
  <p>Click the card to add it to your deck!!</p>
  <form autocomplete="off" spellcheck="false" id="cardSearchForm">
    <input class="input-field" name="name" id="search-input">
    <input class="main-button" type="submit" id="searchBtn" style="animation-delay:0.07s" value="Search"></input>
    <button class="deck-button" type="button" id="deckBtn" style="animation-delay:0.07s">Deck</button>
  </form>
  <p id="sub-title">View Cards By Class:</p>
  <div class="heroes">
    {{#each classes}}
    <a href="/class/{{{name}}}" class="text-links" id="class-links">{{name}}</a>
    {{/each}}
  </div>
  <div id="card-container"></div>
</div>

