<div class="container">
  <header>
    <h1 class="top-content">Welcome To <a href="/"><img id="hearthstone-logo" src="img/HearthstoneLogo.png"></a> Card
      API</h1>
  </header>
  <p>Search For Card by Name! (Case Sensitive):</p>
  <form autocomplete="off" spellcheck="false">
    <input class="input-field" name="name" id="search-input">
    <button class="search-button" type="button" id="searchBtn">Search</button>
  </form>
  <p>View Cards By Class:</p>
  <div class="heroes">
    {{#each thisClass}}
    <a href="/api/classes/showclass/{{{this.name}}}" class="text-links">{{this.name}}</a>
    {{/each}}
  </div>
  <p>View JSON:</p>
  <div class="nav">
    <a href="/api/card" class="text-links">Cards</a>
    <a href="/api/deck" class="text-links">Decks</a>
    <a href="/api/class" class="text-links">Classes</a>
  </div>
  
</div>
<div class="container" id="card-container"></div>